/*

        GRID

*/

.main{
        background-color: purple;
        
}
.my-grid-container{
        width: 1000px;
        margin: 0 auto;
}
.my-grid-container.click{
        width: 10%;
        height: 150px;
        width: 150px;
}
.my-grid-container > .element.active{
        background-color: transparent;
}