/*

        HEADER

*/

.body{
        background-color: purple;
        
}
.elements-container{
        max-width: 80%;
        margin: 0 auto;
        width: calc(100% / 13);
        height: 6.25rem;
        border: 2px solid black;
        background-color: red;
}
.elements.click{
        background-color: transparent;
}
.my-grid-container{
        
        

}


/*

        MAIN

*/








/*

        FOOTER

*/




/*

        DEBUG

*/
